# Checkpoints
*-checkpoint.*

# Saved Results
saved_results/
saved_embeddings/
old_notebooks/
**/old*/

# Environment
env/

# Models
models/**/*.h5

# Edges
_elist.edg

# Embeddings
embeddings-*.npy

# Refs
reference/
