# Checkpoints
*-checkpoint.*

# Data
data/

# Saved Results
saved_results/
saved_embeddings/
old_notebooks/
**/*Predictions.txt

# Environment
env/

# Models
models/**/*.h5

# Edges
_elist.edg

# Embeddings
embeddings-*.npy
